body{
	background-color: white;
}

h1{
color: black;
font-family: "Arial";
font-size: 30px;
font-weight: bold;
text-align: center;
}


h2{
color: black;
font-family: "Myriad Pro";
font-size: 18px;
font-weight: bold;

}

img{
	border:1px solid black;
	display: block;
	margin: 0 auto;
}

hr{
	color: grey;
	margin: center;
	size: 1px;
}

div{
	width: 650px;
	margin: 0 auto;
    border-bottom: 1px solid;
}

.text{
margin-left: auto;
margin-right: auto;
color: grey;
font-family: "Arial";
font-size: 14px;
}

li{
color: grey;
font-family: "Myriad Pro";
font-size: 14px;
font-weight: none;
}

p{
margin: 30px;
color: grey;
font-family: "Myriad Pro";
font-size: 14px;
font-weight: none;
}

a{
	
}